<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
 
  <ion-grid>
    <ion-row>
      <ion-col text-center>
       <h1><b> Profile Details</b></h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Email Address is : {{userEmail}}
        <!-- Your Registered EmailID : {{userEmail}}  -->

      </ion-col>
    </ion-row>
  </ion-grid>  

  <ion-card text-center *ngIf="!isUploading && !isUploaded">
    <ion-card-header>
      <ion-card-title>Choose Profile Picture</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="fileUpload btn btn-primary">
        <span>Upload</span>
        <input
          id="uploadBtn"
          type="file"
          class="upload"
          (change)="uploadFile($event.target.files)"
        />
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card text-center *ngIf="isUploading && !isUploaded">
    <ion-card-header>
      <ion-card-title
        >Selected File:<b>{{ fileName }}</b></ion-card-title
      >
    </ion-card-header>
 
    <ion-card-content>
      <div *ngIf="percentage | async as pct">
        Progress: {{ pct | number }}%
        <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
      </div>
      <div *ngIf="snapshot | async as snap">
        File Size: {{ snap.totalBytes | fileSizePipe }} Transfered:
        {{ snap.bytesTransferred | fileSizePipe }}
        <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
          <ion-button
            color="warning"
            size="small"
            (click)="task.pause()"
            class="button is-warning"
            >Pause</ion-button
          >
          <ion-button
            size="small"
            (click)="task.resume()"
            class="button is-info"
            >Resume</ion-button
          >
          <ion-button
            color="danger"
            size="small"
            (click)="task.cancel()"
            class="button is-danger"
            >Cancel</ion-button
          >
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card text-center *ngIf="!isUploading && isUploaded">
    <ion-card-header>
      <ion-card-title>
        <b>Your Profile Picture</b>
      </ion-card-title>
    </ion-card-header>
 
    <ion-card-content>
      <div *ngIf="UploadedFileURL | async as url">
        <img [src]="url" />
        <a [href]="url" target="_blank" rel="noopener">Download</a>
      </div>
      <!-- File Size: {{ fileSize | fileSizePipe }} -->
      <ion-button
        expand="full"
        color="success"
        (click)="isUploading = isUploaded = false"
        >Click To Change Picture</ion-button
      >
    </ion-card-content>
  </ion-card>
 
  <!-- <h2 text-center>Profile Picture</h2>
 
  <ion-card color="light" text-center *ngFor="let item of images | async">
    <ion-card-header>
      <ion-card-title>
        {{ item.name }}
      </ion-card-title>
    </ion-card-header>
 
    <ion-card-content>
      <img [src]="item.filepath" />
      <a [href]="item.filepath" target="_blank" rel="noopener">Download</a>
    </ion-card-content>
  </ion-card> -->

  <ion-item>
    <ion-label >
      <ion-button (click)="goto_chatgroup()">Group Chat</ion-button>
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label >
      <ion-button (click)="goto_privategroup()">Private Chat</ion-button>
    </ion-label>
  </ion-item>

  <!-- Social Sharing -->
  <ion-button expand="full" (click)="shareTwitter()">Share on Twitter</ion-button>
  <ion-button expand="full" (click)="shareEmail()">Share by Email</ion-button>
  <ion-button expand="full" (click)="shareFacebook()">Share on Facebook</ion-button>
  <ion-button expand="full" (click)="shareWhatsApp()">Share with WhatsApp</ion-button>
  
  <!-- <ion-button (click)="update_Student(recordID,record  )">Update Profile</ion-button> -->
   <!-- <a>Private Chat</a> -->
  <!-- <a href="https://www.w3schools.com">Visit W3Schools</a> -->
  <!-- <a href="#">Back</a> -->
</ion-content>
<!-- <ion-footer (click)="logout()">
  <ion-toolbar color="secondary">
    <ion-title>Log out</ion-title>
  </ion-toolbar> 
</ion-footer>-->
<ion-footer></ion-footer>